<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/back"
        android:label="@string/app_name"
        android:roundIcon="@drawable/back"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
        <activity
            android:name=".studentQuiz"
            android:exported="false" />
        <activity
            android:name=".TeacherCourse_content"
            android:exported="false" />
        <activity
            android:name=".TeacherAccount"
            android:exported="false" />
        <activity
            android:name=".Teacher_New_Module"
            android:exported="false" />
        <activity
            android:name=".TeacherCourses"
            android:exported="false" />
        <activity
            android:name=".StudentAccount"
            android:exported="false" />
        <activity
            android:name=".StudentCourses"
            android:exported="false" />
        <activity
            android:name=".Student_Dashboard"
            android:exported="false" />
        <activity
            android:name=".CourseContent"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>